.form-control {
    display: block;
    width: 46%;
    padding: 0.375rem 1rem;
    font-size: 22px;
    margin-left: 270px;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
}

.btnsub {
    margin-left: 463px;
    font-size: 27px;
    margin-top: 9px;
    font-family: 'Roboto Slab', serif;
    border-radius: 1.25rem;
    background-color: #446bd6;
}

textarea {
    height: 120px;
}