/* .delete-btn {
  
} */
.xbtn:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin-top: -59px;
}
.xbtn {
  width: 39px;
  height: 39px;
  margin-right: -14px;
  font-size: 19px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: right;
  font-weight: bold;
  background-color: red;
  color: white;
  padding: 5px;
}
