.addCrypto {
    font-size: 43px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #4561b1;
}

.my-coins {
    font-size: 43px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #4561b1;

}