.addCrypto {
    font-size: 43px;
    text-align: center;
    margin-bottom: 27px;
    margin-left: -116px;
    font-family: 'Roboto Slab', serif;
    color: #4561b1;
}

.my-coins {
    font-size: 43px;
    margin-bottom: 27px;
    margin-left: 150px;
    font-family: 'Roboto Slab', serif;
    color: #4561b1;

}