.logo {
    width: 10%
}

.badge {
    font-size: 18px;
    margin-right: -34px;
}
.coin-name {
    font-size: 25px;
    text-align: center;
}
.badge-danger{
    background-color: rgb(202, 8, 8);
}

.perc{
    font-size: 51px;
}